#header {
  background: red;
  width: 100%;
  height: 100px;
}

#column-1 {
  width: 33.3%;
  height: 800px;
  background: blue;
  float: left;
}

#column-2 {
  width: 33.3%;
  height: 800px;
  background: purple;
  float: left;
}

#column-3{
  width: 33.3%;
  height: 800px;
  background: yellow;
  float: left;
}

#footer {
  clear: both;
  background: green;
  width: 100%;
  height: 100px;
}